.rotate-phone-css {
    animation: phoneRotation 2s infinite ease-in-out
}

.death-section {
    z-index: 500;
}

.death-text {
    font-size: 4vmax;
    animation: deathText 3s ease-in-out forwards;
    opacity: 0;
}

.death-box {
    opacity: 0;
    animation: deathBox 1s ease-in forwards
}

.player-screen-dmg {
    top: 10vmin;
    position: absolute;
    font-size: 3vmin;
    font-weight: bold;
    pointer-events: none;
}

.enemy-screen-dmg {
    position: absolute;
    bottom: -45%;
    left: 45%;
    font-size: 3vmin;
    pointer-events: none;
}

.shield-logo {
    font-size: 8vmax;
    top: 25vmin;
}

.shield-text {
    font-size: 3vmax;
    font-weight: bold;
}

@keyframes deathBox {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes deathText {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes phoneRotation {
    0%, 100% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(90deg);
    }
}